Insurance Claim Validation & Risk Analyzer (1).json
{
  "name": "Insurance Claim Validation & Risk Analyzer",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "dd35210c-30bc-491d-a02b-21dbca898050",
      "name": "When chat message received",
      "webhookId": "f2aab81d-e70c-425d-812c-fa4a3a508dcb"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Analyze the insurance claim.\n\nExtract these details:\n\nName: <person name>\nEmail: <email address>\nPolicyID: <policy number>\nClaimAmount: <amount>\n\nStatus: <Valid/Suspicious/Invalid>\n\nRiskScore: <number>\nRiskScore Rules:\n- 0–30 = Valid (low risk)\n- 31–70 = Suspicious (medium risk)\n- 71–100 = Reject (high risk)\n\nDecision: <Approved/Under Investigate/Rejected>\nReason: <short reason>\n\nIMPORTANT:\n- RiskScore must match the Status according to the rules above.\n- Do NOT add any extra text.\n- Do NOT explain anything.\n\nReturn ONLY in this exact format."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        0
      ],
      "id": "9b58c967-c688-4913-aac0-d4670fb31f85",
      "name": "AI Risk Analyzer"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        224,
        208
      ],
      "id": "0a9aee9a-2b8f-42cd-9802-a0e59417489c",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "jsXzHkDRaKGznhLL",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        208
      ],
      "id": "b1880ef7-c847-4be7-9714-be4eaf357c87",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1FGxAmQjCATSqAnES__YJRyot2LT3Km6QvupW3vhfYOA",
          "mode": "list",
          "cachedResultName": "InsuranceClaims",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FGxAmQjCATSqAnES__YJRyot2LT3Km6QvupW3vhfYOA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FGxAmQjCATSqAnES__YJRyot2LT3Km6QvupW3vhfYOA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{$json.output.match(/Status:\\s*(.*)/)[1]}}",
            "RiskScore": "={{$json.output.match(/RiskScore:\\s*(.*)/)[1]}}",
            "Decision": "={{$json.output.match(/Decision:\\s*(.*)/)[1]}}",
            "Reason": "={{$json.output.match(/Reason:\\s*(.*)/)[1]}}",
            "Email": "={{$json.output.match(/Email:\\s*(.*)/)[1]}}",
            "Name": "={{$json.output.match(/Name:\\s*(.*)/)[1]}}",
            "ClaimAmount": "={{$json.output.match(/ClaimAmount:\\s*(.*)/)[1]}}",
            "PolicyID": "={{$json.output.match(/PolicyID:\\s*(.*)/)[1]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RiskScore",
              "displayName": "RiskScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Decision",
              "displayName": "Decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ClaimAmount",
              "displayName": "ClaimAmount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PolicyID",
              "displayName": "PolicyID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        576,
        0
      ],
      "id": "0eed124e-0972-40d9-a459-96ba8b1d4556",
      "name": "Store Result (Google Sheets)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3Wblm5YwYitH0mdm",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Insurance Claim- {{ $json.Status }} ",
        "message": "=Dear {{ $json.Name }},<br><br>\n\nYour insurance claim has been analyzed.<br><br>\n\nPolicy ID : {{ $json.PolicyID }}<br>\nClaim Amount : {{ $json.ClaimAmount }}<br>\nStatus : {{ $json.Status }}<br>\nRisk Score : {{ $json.RiskScore }}<br>\nDecision : {{ $json.Decision }}<br>\nReason : {{ $json.Reason }}<br><br>\n\nThank you,<br>\nInsurance Support Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        752,
        0
      ],
      "id": "1078cabe-0e3d-4cea-b093-64c4d01fdd76",
      "name": "Send a message",
      "webhookId": "f48fcbf1-4f3f-4c9b-a95a-0cc67c31e055",
      "credentials": {
        "gmailOAuth2": {
          "id": "BWp2xAQGJZzn9GRx",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Risk Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Risk Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Risk Analyzer",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Risk Analyzer": {
      "main": [
        [
          {
            "node": "Store Result (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Result (Google Sheets)": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "41b477c7-0a08-40ca-a8e3-dcde3232a30f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4d7f9bbddf43bc8aaf6ab68aedad682c18d350f7a38dc557374a3eea98398a0c"
  },
  "id": "p0GE9u5kBTqh4ICy",
  "tags": []
}